[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = v3_req
prompt             = no

[ req_distinguished_name ]
C  = EN                                   # Code du pays
ST = washington                        # État ou province
L  = washington                                # Ville
O  = 5BSS                         # Nom de l'organisation
OU = Votre Unité Organisationnelle        # Unité organisationnelle
CN = trustmysecurity.com                  # Nom commun (domaine principal)

[ v3_req ]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = richcorporations.com               # Domaine principal
DNS.2 = www.richcorporations.com          # Sous-domaine www

